#map{
  height: 300px;
  width: 300px;
}

main{
  display: flex;
  justify-content: space-around;
}

.custom-marker{
  background-color: orange;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
