//Loading spinning wheel
@import "~bulma/bulma";
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
$size: 100px !default;
$thickness: 6px !default;
$base-color: #fff !default;
$wheel-color: #6e94cc !default;

#loading {
  margin: 5% auto;
  height: $size;
  width: $size;
  border: $thickness solid $base-color;
  border: {
    right-color: $wheel-color;
    top-color: $wheel-color;
    radius: 100%;
  }
  animation: spin 800ms infinite linear;
}

//Sale show page

.business-hero {
  display: flex;
  justify-content: flex-end;
  height: 500px;
  background-size: cover;
  margin-bottom: 50px;
}

.business-logo {
  background-color: white;
  border-radius: 50%;
  margin: 100px;
  width:200px;
  height: 200px;
  background-size: contain;
}
@media screen and (max-width: 480px) {
  .business-hero {
    justify-content: center;
    max-height: 200px;
  }

  .business-logo {
    height: 150px;
    width: 150px;
    margin: 125px 100px;
  }
}

//Map

#map {
  height: 300px;
  width: 300px;
}

.custom-marker {
  background-color: orange;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
